@import url('./main.css');

.deathStar:hover {
    transform: scale(1.1);
}

@keyframes zigzig-rotate {
    0% {
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        opacity: 0.0;
    }

    50% {
        transform: rotate(-45deg);
    }
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes slideinRight {
    0% {
        margin-top: -200px;
        margin-left: 0px;
        opacity: 0;
    }

    20% {
        margin-top: -200px;
        margin-left: 0px;
        opacity: 0;
    }

    35% {
        margin-top: -200px;
        margin-left: 750px;
        opacity: 1;
    }

    100% {
        margin-top: -200px;
        margin-left: 750px;
        opacity: 1;
    }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:1;width:355px}
}

@keyframes wave-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes lightBulb {
    20% {
        color: rgb(212, 255, 0);
    }

    40% {
        color: rgb(251, 255, 0);
    }

    50% {
        color: rgb(255, 225, 0);
    }

    60% {
        color: rgb(255, 196, 0);
    }

    80% {
        color: var(--opposite-text-color);
    }
    
    100% {
        color: var(--opposite-text-color);
    }
}