@import url('./main.css');

.blogs {
    width: 100%;
    min-height: 50vh;
    background-color: var(--primary-background);
    color: var(--text-color);
    padding: 10px 10%;
}

.blogGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    background-color: var(--primary-background);
}

.blogItem {
    background-color: var(--secondary-background);
    padding: 20px;
}